__pycache__/
.pytest_cache/
*.egg-info/
*.py[cod]
*.so
*.log

# Virtual environments and env files
venv/
.venv/
.env/
env/

.env
.env.*

# Testing
.coverage
htmlcov/
coverage.xml

# IDEs and OS files
.vscode/
.idea/
.DS_Store
